<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CRUD APP</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark text-center">
      <div class="container-fluid">
        <div class="navbar-brand text-white m-auto">Task App</div>
      </div>
    </nav>

    <div class="container">
      <div class="text-center">
        <a href="/create" class="btn btn-success mt-4" title="Agregar"
        ><i class="fa-solid fa-plus bx-md"></i
        ></a>
      </div>
      <table class="table table-bordered table-striped text-center mt-4">
        <thead>
          <tr class="bg-dark text-white">
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((task) => { %>
          <tr>
            <td class=""><%= task.id %></td>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td>
              <a
                href="/edit/<%= task.id %>"
                class="btn btn-outline-primary mb-1 mt-1"
                title="Editar"
                >Edit</a
              >
              <a
                href="/delete/<%= task.id %>"
                class="btn btn-outline-danger mb-1 mt-1"
                title="Eliminar"
                >Delete</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
